<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="com.inditex.price.infrastructure.persistence.dao.productprice.ProductPriceDAO">
    <!--insert-->

    <!--update-->

    <!--delete-->

    <!--select-->
    <select id="search" resultMap="basicMapper">
        SELECT
        ID,
        BRAND_ID,
        START_DATE,
        END_DATE,
        PRICE_LIST,
        PRODUCT_ID,
        PRIORITY,
        PRICE,
        CURRENCY
        FROM
        PRODUCT_PRICE
        WHERE
        PRODUCT_ID = #{productId}
        AND BRAND_ID = #{brandId}
        <![CDATA[
        AND START_DATE <= #{applicationDate}
        AND END_DATE >= #{applicationDate}
        ]]>
        ORDER BY PRIORITY DESC
        LIMIT 1
    </select>
    <!--resultmaps-->
    <resultMap id="basicMapper"
               type="com.inditex.price.infrastructure.persistence.model.productprice.ProductPricePO">
        <id column="id" property="id"/>
        <result column="BRAND_ID" property="brandId"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="PRICE_LIST" property="priceList"/>
        <result column="PRODUCT_ID" property="productId"/>
        <result column="PRIORITY" property="priority"/>
        <result column="PRICE" property="price"/>
        <result column="CURR" property="currency"/>
    </resultMap>
</mapper>